@import 'bourbon';
@import 'colours';
@import 'fonts';
body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding: 50px;
    background: $bg;
}

a {
    color: $pale;
}

h1 {
    font-family: Raleway;
    font-weight: normal;
}
img {
    height: 100px;
}
