<img src="images/nodejs.png" />
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

Welcome!
This is a test page to demonstrate gulp and livereload.<br />
It shows a gulp/livereload setup using express and handlebars.<br /><br />
Enjoy!<br /><br />
<img src="images/gulp-2x.png" />
