<!DOCTYPE html>
<html>
  <head>
    <title>{{pagetitle}}</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    {{{body}}}
    <script type="text/javascript" src="/js/app.min.js"></script>
  </body>
</html>
